 module.exports = {
   clientId:'test',  // oauth
   clientSecret:'testpass',
   database: 'browserexample',
   databaseConnection: 'mongodb://localhost:27017/',
   apiPath: "https://localhost/api",
   googleClientId:'86241blalblblbabalblagrhndl0gdq9.apps.googleusercontent.com',
   allowedUsers:[], 
    
    // email
    mailFrom:['joe@gmail.com'],
    transport :{
      service: 'gmail',
      auth: {
        user: 'eek@gmail.com',
        pass: 'password'
      }
    }
}

